@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
:root{
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-padrao: 'Oswald', sans-serif;
    --fonte-archivo: "Archivo", sans-serif;
    --cor0: #FA5E59;
    --cor1: #FF0800;
    --cor2: #DB0700;
    --cor3: #B30600;
    --cor4: #8A0500;
    --cor5: #610300;
    --cor6: #ffffff;
}
 
body{
  height: 300px;
  background-image: url("/img/Coragem.png");
  background-position: center, center;
  font-family: var(--fonte-padrao);
}
 
header{
    background-image: url("/img/Header.jpg" );
    background-size: cover;
    color: white;
    height: 150px;
    text-align: center;
    padding-top: 40px;
}
 
 
header h1{
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 50px;
    text-shadow: -2px 2px 20px black;
}
 
header p{
    font-family: var(--fonte-padrao);
    color: white;
    text-shadow: 1px -2px 2px black;
    font-size: 20px;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
}
 
nav{
    background-color: var(--cor5);
    padding: 15px;
}
 
 
nav a{
    color: white;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: var(--fonte-padrao);
    border-radius: 5px;
 
}
 
nav a:hover{
    background-color: var(--cor4);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
}
 
main{
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 13px 0px black;
}
 
main h1{
    font-family: var(--fonte-archivo);
    color: var(--cor5);
}
 
main p{
    font-size: 20px;
    text-align: justify;
    text-indent: 30px;
    line-height: 30px;
    margin: 20px 0;
}
 
main strong{
    color: var(--cor4);
}
 
main h2{
    font-family: var(--fonte-archivo);
    color: var(--cor4);
    border-left: 5px solid var(--cor5);
    padding-left: 10px;
    text-indent: 10px;
}
 
main a{
    text-decoration: none;
    color: var(--cor5);
    background-color: var(--cor1);
    font-weight: bold;
    padding: 3px 7px;
}
 
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}
 
main img{
    width: 100%;
   
}
 
.img-pequena{
    width: 50%;
    display: block;
    margin: auto;
}
 
.video{
    background-color: var(--cor5);
    padding: 20px;
    margin: 0px -20px 30px -20px;
}
 
.video > iframe{
    width: 100%;
}
 
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 4px 12px 0px #635c5c;
}
 
aside h3{
    background-color: var(--cor4);
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin-top: 10px;
}

aside p{
    color: var(--cor6);

}
 
aside ul{
    columns: 2;
    list-style-type: "\1F38C";
    list-style-position: inside;
}

aside li{
    color: var(--cor6);
}
 
footer{
    background-color: var(--cor5);
    padding: 15px;
    color: white;
    text-align: center;
}
 
footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
 
footer a:hover{
    text-decoration: underline;
    color: var(--cor3);
}